<nav id="sidebar" class="sidenav ">
  <div id="live-filter-navigation"><label id="search-label-livefilter" for="livefilter-input"><input
    id="livefilter-input" type="text" value="" class="search"></label>
    <a class="tutup" href="#">x</a>
    <div id="search-results">
      <ul id="content"></ul>
    </div>
  </div>
  <section class="sidenav-content">
    {{ partial "menu.html" . }}
  </section>
</nav>

<nav id="sidebar2" class="sidenav" style="display: none;">
  <section class="sidenav-content">
    {{ partial "menu.html" . }}
  </section>
</nav>

